h1,
h3 {
  font-weight: bold;
  text-align: center;
}

h3 {
  font-size: 15px;
}

p {
  font-size: 18px;
  line-height: 28px;
  font-family: PT Mono, monospace;
  text-align: center;
}

a {
  color: #07689f;
}

hr {
  margin: 0px 35px 10px 0px;
  height: 3px;
  background-color: hsl(202, 92%, 33%);
}

.weather-app-wrapper {
  max-width: 850px;
  margin: 70px auto 5px;
}

footer {
  max-width: 850px;
  margin: 0px auto;
}

.weather-app {
  padding: 0px;
  border: 1px solid #dadde1;
  border-radius: 5px;
  background: #a2d5f2;
}

.weather-information {
  max-width: 260px;
  margin: 0px 15px;
  background: radial-gradient(
    997px at 5.8% 83.8%,
    rgb(0, 201, 235) 0%,
    rgb(145, 0, 228) 90%
  );
  border-top-left-radius: 5px;
}

.card-days {
  margin: 7px;
}

.icon-days {
  color: #07689f;
  font-size: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.city-form {
  margin: 15px auto;
}

.weather-forecast {
  margin: 0px 0px 0px 20px;
}

.weather-forecast-date {
  font-size: 20px;
  text-align: center;
  margin: 0px 0px 4px;
}

.weather-forecast-temperatures {
  font-size: 17px;
  text-align: center;
  margin: 0px 0px 7px;
}

.weather-forecast-temperature-min {
  opacity: 0.7;
}
