.forecast-day {
  border: 1px solid #dadde1;
  background-color: #fff;
  border-radius: 5px;
  max-width: 160px;
  margin: 15px 0px;
}

canvas {
  margin: 5px 10px;
  padding: 0;
  display: inline-block;
}
